  
    <div class="container">
      <div class="center">
        <form class="col s12 m1">
          <!-- send button -->
          <!-- Message input -->
          <div class="input-field col s6 poster">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <button class="btn red waves-effect waves-light" type="submit" name="send">post
              <i class="material-icons right">send</i>
            </button>
            <label for="icon_prefix2">Message</label>
          </div>
        </form>
      </div>
    </div>

    <!--  message + username-->
    <div class="container msg center">
      <img class="img" src="../../assets/user-icon-placeholder.png"> </img>
      <p class="timeStamp grey-text">
        1:08pm 6/25/2021
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, iure amet impedit ea non aperiam expedita voluptatum laboriosam labore nostrum autem sint molestiae similique, molestias quod aliquid. Nisi, itaque labore.
      </p>
      <p class="user left-align">
        Username:
      </p>
    </div>
