<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- not linked yet -->
  <title>Forum Friends</title>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<!-- Nav/wrappers -->

<body id="home" class="bg-black">
  <div id="page-container">
    <div id="content-wrap">
<!-- sticky nav bar -->
  <div class="navbar-fixed">
    <nav class="black">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Forum Friends</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons btn-floating white center-align pulse black-text ">menu</i>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#login">Login</a>
            </li>
            <li>
              <a href="#forum">Forum</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- sticky nav bar -->

<!-- side nav -->
  <ul class="sidenav" id="mobile-nav">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#login">Login</a>
    </li>
    <li>
      <a href="#forum">Forum</a>
    </li>
  </ul>
  <!-- side nav -->
{{{ body }}}
<!-- footer -->
  </div>
  <footer id="footer">
  <footer class="white-text center border">
    <p>Forum Friends &copy; 2021</p>
    <p>Made with materializeCSS</p>
    <a class="link" href="https://github.com/huirayj/forum-friends">GitHub</a>
  </footer>
</div>
</body>
<!-- footer -->

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- linked to main -->
<script src="/js/main.js"></script>
</div>

</html>