<!DOCTYPE html>
<html lang="en">

<head>
  <!--Lets browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- not linked yet -->
  <title>Forum Friends</title>

</head>
<!-- Nav/wrappers -->

<body id="home" class="bg-black" onload="document.body.style.opacity='1'">
  <div id="content-wrap">
    <div id="page-container">

      <!-- sticky nav bar -->
      <div class="navbar-fixed">
        <nav class="black">
          <div class="contain">
            <div class="nav-wrapper">
              <a href="/" class="logo"><i class="material-icons">group</i></a>
              <a data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons black center-align white-text ">menu</i>
                <ul class="right hide-on-med-and-down">
                  {{#if loggedIn}}
                  <ul class="right white-text hide-on-med-and-down">
                    {{#if user.username}}
                    <li>
                      <a>Welcome: {{ user.username }}</a>
                    </li>
                    {{/if}}
                    <li>
                      <a href="/" class="logout"><i class="material-icons">logout</i></a>
                    </li>
                    <li>
                      <a href="/dashboard" id="dashboard"><i class="material-icons">person</i></a>
                    </li>
                    <li>
                      <a href="/posts" id="posts"><i class="material-icons space-right">home</i></a>
                    </li>
                  </ul>
                  {{/if}}
                </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- sticky nav bar -->

      <!-- side nav -->
      {{#if loggedIn}}
      <ul class="sidenav center" id="mobile-nav">
       
       
        <li>
          <a href="/posts" id="posts"><i class="material-icons white-text">home</i></a>
        </li>
        <li>
          <a href="/dashboard" id="dashboard"><i class="material-icons white-text">person</i></a>
        </li>
         <li>
          <a href="/" class="logout"><i class="material-icons white-text">logout</i></a>
        </li>
         <li>
          <a>Logged in as: {{ user.username }}</a>
        </li>
      </ul>
      {{/if}}
      <!-- side nav -->
      {{{ body }}}
      <!-- footer -->
    </div>
  </div>
      <div class="footer center">
      <p>Forum Friends &copy; 2021 | Made with materializeCSS | <a class="link"
            href="https://github.com/huirayj/forum-friends">GitHub</a> </p>

      </div>
</body>
<!-- footer -->

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- linked to main -->
<script src="/js/main.js"></script>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>