<link rel="stylesheet" href="/css/postingStyle.css" />
<div class="container post">
  <div class="center">
    <form class="col s12 m1 new-msg-form">
      <!-- Title input -->
      <div class="input-field col s12">
        <input value={{post.title}} id="title-input" type="text" class="validate" name="title">
        <label for="post-title">Title</label>
      </div>
      <!-- send button -->
      <!-- Message input -->
      <div class="input-field col s6 center" id="custom-input">
        <textarea id="icon_prefix2" class="materialize-textarea" name="content">{{post.content}}</textarea>
        <button class="btn edit-btn red waves-effect waves-light" data-id={{post.id}} type="submit" >change
          <i class="material-icons right">send</i>
        </button>
        <label for="icon_prefix2">Message</label>
      </div>
    </form>
  </div>
</div>


<script src="/js/editPost.js"></script>