<link rel="stylesheet" media="screen and (min-width: 800px)" href="/css/loginStyle.css" />
<link rel="stylesheet" media="screen and (max-width: 799px)" href="/css/loginMobile.css"/>
<section class="container1 center" >
  <div class="row">
    <div col s12>
      <div class="cont mo-cont">
      <form class="form sign-in">
        <h2>Sign In</h2>
        <div class="size">
        <label>
          <span>Email</span>
          <input type="email" name="email" id="user-login">
        </label>
        <label>
          <span>Password</span>
          <input type="password" name="password" id="password-login">
        </label>
        <button class="submit" type="submit">Sign In</button>
        </div>
      </form>

      <div class="sub-cont">
        <div class="img">
          <h5 class="hide-main">Don't have an account? Sign up here!</h3>
          <div class="img-text m-up hide-mo">
            <h2>New here?</h2>
            <p>Sign up here to check out what Forum Friends has to offer!</p>
          </div>
          <div class="img-text m-in hide-mo">
            <h2>Already have an account?</h2>
            <p>Sign in over here!</p>
          </div>
          <div class="img-btn hide-mo">
            <span class="m-up">Sign Up</span>
            <span class="m-in">Sign In</span>
          </div>
        </div>
        <form class="form sign-up">
          <h2>Sign Up</h2>
          <div class="size">
          <label>
            <span>Username</span>
            <input type="text" id="user-signup">
          </label>
          <label>
            <span>Email</span>
            <input type="email" id="email-signup">
          </label>
          <label>
            <span>Password</span>
            <input type="password">
          </label>
          <label>
            <span>Confirm Password</span>
            <input type="password" id="password-signup">
          </label>
          <button type="submit" class="submit">Sign Up Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>
<script src="/js/script.js"></script>
<script src="/js/login.js"></script>