<link rel="stylesheet" href="/css/postingStyle.css" />
<div class="container post">
  <div class="center">
    <form class="col s12 m1">
      <!-- send button -->
      <!-- Message input -->
      <div class="input-field col s6 center" id="custom-input">
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <button class="btn red waves-effect waves-light" type="submit" name="send">post
          <i class="material-icons right">send</i>
        </button>
        <label for="icon_prefix2">Message</label>
      </div>
    </form>
  </div>
</div>

{{#each posts as |post|}}

<div class="container msg center">
  <img class="img" src="https://palmbayprep.org/wp-content/uploads/2015/09/user-icon-placeholder.png"> </img>
  <p class="timeStamp grey-text">
    {{ format_time post.createdAt }}
  </p>
  <p class="user left-align">
    {{ post.title }}
  </p>
  <p>
    {{ post.content }}
  </p>
</div>
{{/each}}