body {
  background: rgb(32, 31, 31);
  font-family: 'Nunito', sans-serif;
  color: black;
  text-align: center;
}

.hide-mo {
  display: none;
}

.logo {
  margin-left: 1rem;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  display:unset !important;
  
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}

.mo-cont {
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, #222222, #000000);
  /*changed this to be slightly easier on the eyes*/
  border-radius: 8px;
  box-shadow: 12px 12px 5px 1px black;
  padding: 5px;
  margin-top: 20px;
}

button {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
}

.submit {
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  background: rgb(32, 31, 31);
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.size {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}