* {
  scroll-behavior: smooth;
}

body {
  opacity: 0;
  transition: opacity 1s;
}
.space-right {
  margin-right: 5rem;
}

.sidenav li>a {
  color: white;
}

.logo {
  margin-left: 2rem;
}

.sidenav {
  background-color: #0e0e0e;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  display:unset !important;
  
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}

.footer {
  background: -webkit-linear-gradient(left, #222222, #000000);
  height: 4rem;
  padding-top: 0.5rem;
  margin-top: 55vh;
}

.msg {
  border-radius: 0px;
  padding: 5px;
  
  border: 4px double transparent;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.397);
  background: -webkit-linear-gradient(left, #222222, #000000);
  color: rgb(167, 167, 167);
}

body {
  min-height: 100vh;
  flex-direction: column;
  background: rgb(32, 31, 31);
  font-family: 'Nunito', sans-serif;
}

#welcome {
  color: rgb(167, 167, 167);
}

main {
  flex: 1 0 auto;
}

.img {
  max-width: 70px;
  float: left;
}

.user {
  justify-content: space-around;
}

.timeStamp {
  box-sizing: content-box;
}

.post {
  max-width: 800px;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #222222, #000000);
  color: rgb(163, 163, 163);
  margin-top: 5px;
  padding: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.466);
}

.materialize-textarea {
  color: rgb(167, 167, 167);
}

.border {
  background: -webkit-linear-gradient(left, #2f7cc4, #571e31);
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

.posts {
  margin-bottom: 10rem;
  margin-top: 5px;
  border-radius: 5px;
}
.container {
  max-width: 600px;
}
.container1 {
  max-width: 620px;
  background-color: rgba(61, 61, 61, 0.26);
}

::-webkit-scrollbar {
  width: 16px;
  border-left: 5px solid rgba(68, 68, 68, 0);
  background: rgb(52, 52, 52);
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(left, #222222, #000000);
  border-radius: 20px;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}


.materialize-textarea {
  min-height: 100px !important;
}

/* label underline focus color for materialize*/

.materialize-textarea:focus {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}

#title-input {
  color: rgb(161, 141, 141);
  min-height: 60px !important;
  min-width: 100px !important;
}

.new-comment-form {
  min-height: 1px !important;
}

html {
  color: rgb(167, 167, 167);
}

.comments {
  background-color: rgb(19, 19, 19);
  border: solid rgb(32, 32, 32) 2px;
  background: -webkit-linear-gradient(right, #222222, #000000);
}

.edit-btn, .delete-btn {
  min-width: 101px;
  min-height: 36px;
  border: none;
  border-radius: 1px;
  color: rgb(167, 167, 167);
}

.collapsible {
  margin: 0px !important;
  border: none !important;
}

.collapsible-header {
  border: none !important;
  background: -webkit-linear-gradient(right, #222222, #000000);
  ;
}

.collapsible-header:hover {
  background: -webkit-linear-gradient(right, #313131, #161616);
}

.collapsible-body {
  border: 1px solid rgb(0, 0, 0) !important;
}

.short-text {
  display: none;
}

.btn {
  border-radius: 10px;
}

.input-field {
  margin: 0px;
  padding: 5px;
}

.title-input {
  background: black;
}

/* label color */

.input-field label {
  color: rgb(104, 104, 104);
}

/* label focus color */

.input-field input[type=text]:focus+label {
  color: rgb(104, 104, 104);
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(104, 104, 104);
  box-shadow: 0 1px 0 0 rgb(104, 104, 104);
}

/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid rgb(104, 104, 104);
  box-shadow: 0 1px 0 0 rgb(104, 104, 104);
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid rgb(104, 104, 104);
  box-shadow: 0 1px 0 0 rgb(104, 104, 104);
}

/* icon prefix focus color */

.input-field .prefix.active {
  color: rgb(104, 104, 104);
}

.titleSmall {
  display: none !important;
}

@media only screen and (max-width: 480px) {
  #footer {
  display: none !important;
  }
  .container {
    max-width: unset;
  }

  nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display:unset !important;
    margin-left: 0rem;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
  }

  .titleBig {
  display: none !important;
  }

  .titleSmall {
    display: inline-block !important; 
  }

  }