

.msg {
  border-radius: 20px;
  margin-top: 20px;
  bottom: 20px;
  padding: 5px;
  max-width: 1000px;
  border: 1px double transparent;
  box-shadow: 2px 2px 20px black;
  background: black;
  margin-bottom: 20px;
  color: white;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: -webkit-linear-gradient(left, #3a9cf7, #b33e65);
  font-family: 'Nunito', sans-serif;
}

main {
  flex: 1 0 auto;
}

.img {
  max-width: 70px;
  float: left;
}

.user {
  justify-content: space-around;
}

.timeStamp {
  box-sizing: content-box;
}

.post {
  border: 2px solid black;
  max-width: 800px;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.materialize-textarea {
  color: white;
}

.border {
  border: solid 2px black;
  background: -webkit-linear-gradient(left, #3a9cf7, #571e31);
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.posts{
  overflow-y: scroll;
  margin-top: 0px;
  max-height: 800px;
  margin-top: 20px;
}

::-webkit-scrollbar {
  width:16px;border-left:5px solid rgba(68, 68, 68, 0.411)
}

::-webkit-scrollbar-thumb {
  background-color:black;
  border-radius: 20px;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.materialize-textarea {
  min-height: 100px !important;
}

 /* label underline focus color for materialize*/
  .materialize-textarea:focus {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
 }

 #title-input {
   color: white;
 }