<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- not linked yet -->
  <link rel="stylesheet" href="../../public/css/style.css" />
  <title>Forum Friends</title>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<!-- Nav/Home -->

<body id="home" class="bg-black">
  <!-- wraps the whole page for sticky footer-->
  <div id="page-container">
    <div id="content-wrap">
      <!-- sticky nav bar -->
      <div class="navbar-fixed">
        <nav class="black">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Forum Friends</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons btn-floating white center-align pulse black-text ">menu</i>
                <ul class="right hide-on-med-and-down">
                  <li>
                    <a href="#home">Home</a>
                  </li>
                  <li>
                    <a href="#login">Login</a>
                  </li>
                  <li>
                    <a href="#forum">Forum</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- Side nav -->
      <ul class="sidenav" id="mobile-nav">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#login">Login</a>
        </li>
        <li>
          <a href="#forum">Forum</a>
        </li>
      </ul>
      {{ body }}
      <div class="container post">
        <div class="center">
          <form class="col s12 m1">
            <!-- send button -->
            <!-- Message input -->
            <div class="input-field col s6 center" id="custom-input">
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <button class="btn red waves-effect waves-light" type="submit" name="send">post
                <i class="material-icons right">send</i>
              </button>
              <label for="icon_prefix2">Message</label>
            </div>
          </form>
        </div>
      </div>
      <!--  message + username-->
      <div class="container msg center">
        <img class="img" src="../../assets/user-icon-placeholder.png"> </img>
        <p class="timeStamp grey-text">
          {{ timeStamp }}
          1:08pm 6/25/2021
        </p>
        <p class="user left-align">
          {{ username }}
          Username:
        </p>
        <p>
          {{ text }}
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, iure amet impedit ea non aperiam expedita
          voluptatum laboriosam labore nostrum autem sint molestiae similique, molestias quod aliquid. Nisi, itaque
          labore.
        </p>
      </div>
      <!-- comment -->
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>
<!-- End of message -->
    </div>
    <footer id="footer">
      <footer class="white-text center border">
        <p>Forum Friends &copy; 2021</p>
        <p>Made with materializeCSS</p>
        <a class="link" href="https://github.com/huirayj/forum-friends">GitHub</a>
      </footer>
  </div>
</body>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Not linked -->
<script src="../../public/js/main.js"></script>
</div>
</body>

</html>